.navbar{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 22px;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    
}

.nav-options-container{
    display: flex !important;
    justify-content: flex-end
}

.nav{
    color: black;
}